body{
	background: #000;
	font-family:"Gotham SSm";
}
iframe{
	width:100%;
	padding:0;
	margin:0;
}
/*自定义字体*/
@font-face{
    font-family: "Gotham SSm";
    src: url("../font/GothamSSm-Book.otf");
}
@font-face {
    font-family: "bdfont";
    src: url("../font/bdfont.eot"); /* IE9 */
    src: url("../font/bdfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/bdfont.woff") format("woff"), /* chrome¡¢firefox */
    url("../font/bdfont.ttf") format("truetype"), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+ */
    url("../font/bdfont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}
.icon {
    font-family: "bdfont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*字体图标*/
.umbra_width{
	max-width: 1360px;
	margin: 0 auto;
}
.search{
	font-size: 1.5rem
}
.drop_down_icon{
	 font-size: 0.75rem;
	 vertical-align: middle;
}
.favorite{
	font-size: 1.3rem;
}
.shop_car{
    position: relative;
    font-size: 1.3rem;
}
#count{
    position: absolute;
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    background: #fff;
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: 1rem;
    top:-9px;
    right: -9px;
}
/*字体图标*/
.my_gray{
	color: #757575;
	font-size: 0.87rem;
}
.border_e5{
	border:1px solid #e5e5e5;
}
a:hover{
	text-decoration: none;
}
.header{
	position:fixed;
	z-index:1001;
}
.ifooter{
	height:21rem;
}
.carousel-item img{
	width: 100%;
}
.font_black{
	color:#000;
}
.a_white{
	color:#fff;
}
.a_black{
	color:#000;
}
/*ÂÖ²¥Í¼×ÖÌå*/
.carousel .carousel-item{
	max-height: 52rem;
}
.carousel-caption{
	left:10%;
	bottom:28%;
	width:38rem;
}
.carousel-caption h1{
	font-size: 2.75rem;
}
.carousel-caption p{
	font-size: 0.87rem;
}
.carousel-caption a{
	display: block;
	width:9rem;
	height: 2.5rem;
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.87rem;
	font-weight: bold;
}
.carousel-caption a:hover{
	text-decoration: none;
	background: #333;
}
/*ÂÖ²¥Í¼°´Å¥*/
.carousel-control-prev{
	width:2rem !important;
	background: #fff;
	height: 6rem !important;
	top:45%;
	margin:0 0.5rem 0;
}
.carousel-control-next{
	width:2rem !important;
	background: #fff;
	height: 6rem !important;
	top:45%;
	margin:0 0.5rem 0;
}
.carousel-control-prev-icon{
	background-image:url("../images/left.svg");
}
.carousel-control-next-icon{
	background-image:url("../images/right.svg");
}
/*Ê×Ò³±êÌâh1*/
.index_title{
	text-align: center;
	font-size: 1.9rem;
	font-weight: normal;
	color:#000;
	margin-top:1.75rem;
	margin-bottom: 0.87rem;
}
/*Î´À´¸ÛÈËÊ¿*/
.ul_style{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width:90%;
	margin: 0 auto;
}
.featured{
	position: relative;
	width: 19%;
	margin-bottom: 1rem;

}
.featured span{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background: rgba(255,255,255,0.9);
	padding:0.5rem 0 0.5rem;
	color:#333;
	z-index:10;
	transition:all 0.3s;
	font-size: 1.1rem;
}
.featured:hover span{
	color:#666;
	padding:0.8rem 0 0.8rem;
}
/*cardÉÌÆ·±êÌâ*/
.products{
	position: relative;
}
/*ÉÌÆ·¿í¶È*/
.card_padding{
	padding:0 10% 0;
}
.products-prev{
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 0;
	top: 30%;
	z-index: 99;
}
.products-next{
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 0;
	top: 30%;
	text-align: right;
	z-index: 99;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
	width: 2.5rem;
	height: 2.5rem;
}
.product_title{
	color:#000;
	font-size: 0.9rem;
	font-weight: bold;
}
.product_title:hover{
	color:#666666;
	text-decoration: none;
}
.money_sign,.price{
	color: #000;
	font-size: 0.9rem;
}
.product_img:hover img{
	opacity: 0.7;
}

.quick{
	position: absolute;
	left:25%;
	top:35%;
	width: 50%;
	padding: 0.3rem;
	background: #000;
	z-index: 20;
	color: #fff;
	font-size: 0.75rem;
	text-align: center;
	display: none;
	font-weight: bold;
}
.quick:hover{
	text-decoration: none;
	color: #fff;
}
.product_img:hover .quick{
	display: inline;
}
/*about*/
.design{
	text-align: center;
	padding-top: 12.5rem;
	padding-bottom:12.5rem;
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/banner-designwithus-4.jpg);
	background-size: cover;
}
.design h1{
	margin-bottom: 2rem;
	font-size: 3.5rem;
	color: #fff;
	text-align: center;
}
.design a{
	padding:0.8rem 2rem;
	text-align: center;
	background: #fff;
	color: #000;
	font-size: 0.87rem;
}
.design a:hover{
	background: #000;
	color: #fff;
	text-decoration: none;
}
.store{
	padding:6.25rem 3.75rem;
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/meet-umbra-footer.jpg);
	background-size: cover;
	width: 49.5%;
}
.store_width{
	width: 15rem;
}
.store h1{
	margin-bottom: 1.25rem;
	font-size: 2.1rem;
	color: #fff;
}
.store span{
	display: block;
	color: #fff;
	font-size: 0.87rem;
	margin-bottom: 1rem;
}
.store a{
	padding:0.8rem 2rem;
	text-align: center;
	background: #fff;
	color: #000;
	font-size: 0.87rem;
}
.store a:hover{
	background: #000;
	color: #fff;
	text-decoration: none;
}
.inspired{
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/stay-inspired.jpg);
}
/*µ¼º½Ìî³äÎï*/
.fill{
	width:100%;
	height:6.5rem

}
/*list style*/
.breadcrumb{
	background: #fff;
}
.breadcrumb-item + .breadcrumb-item::before{
	content:"-";
}
.breadcrumb-item a{
	color:#757575;
	font-size: 0.82rem;
}
.breadcrumb-item a:hover{
	text-decoration: none;
}
.breadcrumb-item.active a{
	color:#000;
}
.refine_by{
	color: #333333;
	font-size: 0.87rem;
	margin-left: 0.8rem;
}
.refine_by h5{
	color:#000;
	font-size:0.8rem;
}
.sort_by{
	padding: 0.5rem;
	margin-right: 0.8rem;
}
.sort_border{
	border-bottom:1px solid #333333;
}
.sort_by span{
	font-size: 0.82rem;
	color: #757575;
}
#sort{
	font-size: 0.82rem;
	color: #333;
	border: 0;
	padding-right: 1rem;
}
.thumbnail{
	display: block;
	width:3rem;
	margin-left: 0.5rem;
}
.btn:focus, .btn.focus {
	outline: 0;
	box-shadow:none;
}
input[type="checkbox"]{
	border: 1px solid #ccc;
	-webkit-appearance:none;
	width: 14px;
	height: 14px;
}
input[type=checkbox]:checked{
	background: url("../images/true.png") no-repeat center;
	background-size:cover;
}
.page_style {
	position: relative;
	padding: 0.5rem 0.75rem;
	line-height: 1.25;
	color: #757575;
	font-size: 0.87rem;
	background-color: #fff;
}
.page_style:hover{
	color: #000;
	text-decoration: none;
}
.page_style.active{
	border:1px solid #e4e4e4;
	border-radius: 5px;
}

/*about us*/
.about_design{
	padding:5rem 0;
	padding-left: 7rem;
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/AboutPage-Hero.jpg);
	background-size: cover;
}
.about_design p{
	color: #fff;
	margin: 0;
	line-height: 1.4;
	font-size: 4rem;
	font-weight: bold;
}
.about_font{
	width: 75%;
	margin: 3.5rem auto;
	font-size: 0.87rem;
	color:#333;
}
.about_font h1{
	color:#000;
	font-size: 2.2rem;
}
.originator{
	display: flex;
	align-items: flex-end;
	width: 100%;
	height:28rem;
	background:url("../images/AboutPage_FullWidth_LesPaul.jpg") no-repeat;
	background-size: cover;
	margin-bottom: 3rem;
}
.originator p{
	color:#fff;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 2rem;
	text-align: center;
}
.modern,.casual,.functional,.original{
	display: flex;
	align-items: center;
	width: 23%;
	height:16rem;
	background:url("../images/Values_Modern.jpg") no-repeat;
	background-size: cover;
}
.casual{
	background:url("../images/Values_Casual.jpg") no-repeat;
	background-size: cover;
}
.functional{
	background:url("../images/Values_Functional.jpg") no-repeat;
	background-size: cover;
}
.original{
	background:url("../images/Values_Original.jpg") no-repeat;
	background-size: cover;
}
.values p{
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
}
.about_title{
	font-size: 2.2rem;
	color: #000;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1.5rem;
}
.careers{
	background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/AboutPage_CareersBanner.jpg);
}
/*design with us*/
.design_us{
	display: flex;
	justify-content: space-between;
	padding: 0;
	width: 100%;
	background: none;
	align-items: center;
}
.design_width{
	margin-left: 6%;
	width: 31rem;
}
.design_us .design_width a{
	background: #000;
	color:#fff;
}
.design_us .design_width a:hover{
	background: #fff;
	border: 1px solid #000;
	color: #000;
}

.design_us h1,.design_us a,.design_us span{
	color: #000;
}
.design_us img{
	width: 50%;
}
/*umbra shift*/
.ushift span{
	width: 100%;
	border: 0;
	background: transparent;
	position: absolute;
	top: 42%;
	color: #fff;
	font-size:1.4rem;
	font-weight: 1000;
	text-align: center;
}
.ushift span{
	display: none;
}
.umbra_shift_width{
	margin: 0 auto;
	max-width:1360px;
}
.umbra_shift_logo{
	padding: 5rem 0;
	text-align: center;
}
.umbra_shift_logo img{
	width: 7rem;
}
.us_about{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	max-width: 953px;
}
.us_about p{
	margin-top:5rem;
	font-weight: bold;
}
/*design stories*/
.stories_title{
	color: #000;
	font-size: 1.5rem;
	transition: 1s;
	margin: 0.625rem 0;
}
.release_time{
	color:#757575;
	font-size: 0.78rem;
	margin-bottom: 0.8rem;
}
.describe,.read_more{
	color: #333333;
	margin-bottom: 0.625rem;
}
.stories_title:hover,.read_more:hover{
	color:#757575;
}
/*sing in*/
.sing_title{
	padding:2rem 0 3rem 0;
}
.sing_font{
	max-width: 56.25rem;
	margin: 0 auto;
	color:#333;
}
.sing_font h6{
	font-size:0.9rem;
	font-weight: bold;
	margin-bottom: 1.35rem;
}
.sing_font a{
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}
.sing_font a:hover{
	color: #757575;
}
.sing_font p{
	margin-bottom: 1.35rem;
}
.sing_font span{
	font-size:0.9rem;
}
#sing_button{
	font-size:0.9rem;
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 0.75rem 2rem;
	height: 2.5rem;
	line-height: 1.3rem;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}
#sing_button:hover{
	background: #757575;
	color:#fff;
}
.sing_font ul li{
	font-size:0.9rem;
}
/*媒体查询*/
@media screen and (min-width:992px){
	.color_style{
		display: block;
	}
	.my_lg_none{
		display: none;
	}
	.ushift:hover span{
		display: block;
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.us_about{
		width: 95%;
	}
	.umbra_shift_width{
		width: 100%;
	}
	.header{
		height:auto;
		background:#000000;
	}
	.ul_style{
		width: 92%;
	}
	.featured{
		width:48%;
	}
	.design{
		padding-top:6.25rem;
		padding-bottom:6.25rem;
	}
	.store{
		width:100%;
	}
	.fill{
		width:100%;
		height:3.5rem

	}
	.color_style{
		display: none;
	}
	.page_display{
		display: none !important;
	}
	.my_md_none{
		display: none;
	}
	.about_design{
		padding:2.5rem 0;
		padding-left: 0.5rem;
	}
	.originator{
		height:25rem;
	}
	.modern,.casual,.functional,.original{
		width: 48%;
		margin-bottom:1rem;
	}
}

@media screen and (max-width:767px){
	.col-xs-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.us_about{
		width: 95%;
	}
	.col-xs-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.umbra_shift_width{
		width: 100%;
	}
	.header{
		height:auto;
		background:#000000;
	}
	.ul_style{
		width: 92%;
	}
	.featured{
		width:48%;
	}
	.design{
		padding-top:6.25rem;
		padding-bottom:6.25rem;
	}
	.store{
		width:100%;
	}
	.fill{
		width:100%;
		height:3.5rem
	}
	.color_style{
		display: none;
	}
	.col-xs-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.m-xs-0{
		margin:0 !important;
	}
	.d-xs-none{
		display: none !important;
	}
	.page_display{
		display: none;
	}
	.my_xs_none{
		display: none;
	}
	.about_design{
		padding:2.5rem 0;
		padding-left: 0.5rem;
	}
	.about_design p{
		font-size: 1.75rem;
	}
	.originator{
		height:19rem;
	}
	.modern,.casual,.functional,.original{
		width: 98%;
		height: 12.5rem;
		margin-bottom:1rem;
	}
}